.posts {
    width: 30%;
    height: 30%;
    margin-right: 18%;
}

.posts > .card {
    padding: 5%;

    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 0px 0px 3px 1px rgb(240, 240, 240);
}

.posts > .card .card {
    margin-bottom: 3%;

    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
}

.post-preview {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    height: 30vh;
}

.post-preview::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.post-preview .card-subtitle, .post-preview .card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}