.details {
    /* width: 30%; */
    width: 40%;
    height: 100%;
    /* margin-left: 18%; */
}

.details > .card {
    width: 100%;
    height: 100%;

    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 0px 0px 3px 1px rgb(240, 240, 240);
}

.details .card-body {
    height: 70%;
    padding: 5%;

    overflow-y:hidden;
}

.details-banner {
    background-image: url("../src/assets/image.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 30%;
    border-bottom: 1px solid rgb(240, 240, 240);
}

.details-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.details-row img {
    width: 5%;
    height: 5%;
    margin-right: 2%;
}