.posts {
    width: 30%;
    height: 30%;
    margin-right: 18%;
}

.posts > .card {
    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 0px 0px 3px 1px rgb(240, 240, 240);
}

.post-preview .card-subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}