.details {
    width: 30%;
    height: 30%;
    margin-left: 18%;
}

.details-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.details-row img {
    width: 5%;
    height: 5%;
    margin-right: 2%;
}