.details {
    width: 49%;
}

.details > .card {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    border-radius: 5px;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: 0px 0px 3px 1px rgb(240, 240, 240);
}

.details .card-body {
    height: 100%;
    padding: 5%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.details .card-body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.details-banner {
    width: 100%;
    height: 0;
    padding-top: 30%;

    background-image: url("../assets/image.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
    border-bottom: 1px solid rgb(240, 240, 240);
}

.details-row {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.details-row img {
    width: 25px;
    height: 25px;
    margin-right: 3%;
}

.details-row .card-text {
    font-weight: bold;
}

/* Mobile - landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 
    .details {
        width: 100%;
        margin-bottom: 5%;
    }
}

/* Mobile - portrait */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) { 
    .details {
        width: 100%;
    }
}

/* Tablet - Portrait */
@media all 
and (device-width: 768px) 
and (device-height: 1024px)
and (orientation:portrait) {
    .details {
        width: 100%;
        height: 48%;
    }
}

/* Tablet - Landscape */
@media all 
and (device-width: 1024px) 
and (device-height: 768px) 
and (orientation:landscape) {
    
}